#carbonads {
}

.carbon-img {
  display: block;
}

.carbon-text {
  font-size: 10px;
  display: block;
  color: #e2e8f0;
  text-decoration: none;
}
.carbon-wrap {
  /* margin-top: 25px; */
  display: block;
}

.carbon-poweredby {
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  display: block;
}
